<footer class="page-footer font-small blue pt-4 mt-4 footer">

    <!-- Footer Links -->
    <div class="container-fluid text-md-left text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-4 mt-md-0 mt-3">

                <!-- Content -->
                <h5 class="text-uppercase">
                    <a href="#"> Blockchain Glorious</a>
                </h5>
                <p></p>
                <img src="/images/logo_glorious.png">
            </div>

            <!-- Grid column -->
            <div class="col-md-4 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase">ACCOUNTS</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!">Link 1</a>
                    </li>
                    <li>
                        <a href="#!">Link 2</a>
                    </li>

                </ul>

            </div>
            <!-- Grid column -->
            <div class="col-md-4 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase">SUPPORT</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!">Link 1</a>
                    </li>
                    <li>
                        <a href="#!">Link 2</a>
                    </li>

                </ul>

            </div>
        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">2018 Copyright
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->