<html>

<head>
	<title>Home</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="/css/header.css" rel="stylesheet" type="text/css">
	<link href="/css/footer.css" rel="stylesheet" type="text/css">
	<link href="/css/transaction.css" rel="stylesheet" type="text/css">
</head>

<body>
	<div class="container-flui">
		<% include ../partials/header %>
			<div class="container">

				<br>
				<br>
				<br>
				<div class="row">
					<div class="col-md-6">
						<img src="/images/model.gif">
					</div>
					<div class="col-md-1"></div>
					<div class="col-md-5">
						<table class="table transaction-table">
							<thead>
								<tr>
									<th class="numberoftransactioinlabel">TRANSACTIONS PER DAY</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>The number of transactions in the last 24 hours.</td>
								</tr>
								<tr>
									<td class="numberoftransactioinvalue"><%= Trans.length%></td>
								</tr>
								<tr>
									<td>Transactions since May 25, 2018, 9:03:32 AM.</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<br>
				<br>
				<br>
				<br>
				<div class="row">
					<div class="col-md-12">
						<span class="numberoftransactioinlabel">LATEST TRANSACTION</span>
					</div>
					<hr>
					<div class="col-md-12">
						<table class="table">
							<thead>
								<tr>
									<th>ID</th>
									<th>TRANSACTION TYPE</th>
									<th>TIME</th>
								</tr>
							</thead>
							<%if(Trans!=null){%>
							<tbody>
								<%for(var i=0;i<Trans.length;i++){%>
								<tr>
									<td><%= Trans[i].transactionId %></td>
									<td><%= Trans[i].transactionType %></td>
									<td><%= moment(Trans[i].transactionTimestamp).format("HH:mm:ss")%></td>
								</tr>
								<%}%>
							</tbody>
							<%}%>
						</table>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 z-paging-text-center">
						<nav aria-label="Page navigation example">
							<ul class="pagination">
								<li class="page-item"><a class="page-link" href="#">Previous</a></li>
								<li class="page-item"><a class="page-link" href="#">1</a></li>
								<li class="page-item"><a class="page-link" href="#">2</a></li>
								<li class="page-item"><a class="page-link" href="#">3</a></li>
								<li class="page-item"><a class="page-link" href="#">Next</a></li>
							</ul>
						</nav>

					</div>
				</div>
			</div><br><br><br><br><br><br><br><br>
			<% include ../partials/footer %>
	</div>
</body>

</html>