<html>

<head>
	<title>Home</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="/css/header.css" rel="stylesheet" type="text/css">
	<link href="/css/footer.css" rel="stylesheet" type="text/css">
</head>

<body>
	<div class="container-flui">
		<% include ../partials/header %>			
				<div class="row">
					<span>Home Page</span>
				</div>			
		<% include ../partials/footer %>
	</div>
</body>

</html>